.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.product-details {
  margin: 0 0 0 20px;
}

.product-details h4 {
  color: royalblue;
}

.product-details button {
  width: 230px;
  padding: 7px;
  background-color: goldenrod;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}
